* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px 100px;
}

.form-container {
    margin: 200px 0px;
}

.add-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.add-form input {
    margin: 10px 0px;
    width: 100%;
    border: none;
    outline: none;
}

.add-form .textbox {
    border-bottom: #007ACC 2px solid;
}

.add-form .button {
    border-radius: 10px;
    background-color: #007ACC;
    color: #fff;
    padding: 5px 0px;
    font-size: 20px;
}

.table {
    width: 100%;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    transition: all 0.3s;
}

.table th {
    padding: 10px;
    background-color: #007ACC;
    color: #fff;
    font-size: 20px;
}

.table td {
    font-family: Verdana;
    padding: 5px;
}

.table td:not(:last-child) {
    border-right: 3px solid #ccc;
}

.table th:not(:last-child) {
    border-right: 1px solid #fff;
}

.table tr:nth-child(even) {
    background-color: #E7EAED;
}

.table tr:hover {
    background-color: #ccc;
}