* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px 100px;
}

.table {
    width: 100%;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    transition: all 0.3s;
}

.table th {
    padding: 10px;
    background-color: #007ACC;
    color: #fff;
    font-size: 20px;
}

.table td {
    font-family: Verdana;
    padding: 5px;
}

.table td:not(:last-child) {
    border-right: 3px solid #ccc;
}

.table th:not(:last-child) {
    border-right: 1px solid #fff;
}

.table tr:nth-child(even) {
    background-color: #E7EAED;
}

.table tr:hover {
    background-color: #ccc;
}

h1 {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }
}